! Font
st.font: Fira Code-13;
URxvt.font: xft:Fira Code:style=Medium:size=12:antialias=true, \
            xft:Noto Sans Bengali:size=8:minspace=false,\
             -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
UXTerm*faceSize:10
URxvt.letterSpace: 0
URxvt*loginShell: true
urxvt*geometry: 60x172


! UI
URxvt.scrollBar: false
URxvt.depth: 32
! URxvt.bell-command: aplay -Nq $XDG_CONFIG_HOME/luna_theme/bell.wav 2>/dev/null

st.alpha: 0.90
urxvt*transparent: true
urxvt*shading: 20
! URxvt.tintColor: #20201d

! Extensions
URxvt.perl-ext: default,url-select,clipboard,keyboard-select
URxvt.keysym.Meta-c: perl:clipboard:copy
URxvt.keysym.Meta-v: perl:clipboard:paste
URxvt.iso14755: False
! URxvt.perl-ext-common:  bidi
URxvt.perl-ext-common:  resize-font
URxvt.resize-font.smaller:  A-minus
URxvt.resize-font.bigger: A-equal
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true

! Utils

! URxvt.urlLauncher: xdg-open
URxvt.url-select.launcher: link-handler
URxvt.underlineURLs: true
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Colors

! special
*.foreground:   #a6a28c
*.cursorColor:  #a6a28c
*.background:   #000000

! black
*.color0:       #20201d
*.color8:       #7d7a68

! red
*.color1:       #d73737
*.color9:       #d73737

! green
*.color2:       #60ac39
*.color10:      #60ac39

! yellow
*.color3:       #cfb017
*.color11:      #cfb017

! blue
*.color4:       #6684e1
*.color12:      #6684e1

! magenta
*.color5:       #b854d4
*.color13:      #b854d4

! cyan
*.color6:       #1fad83
*.color14:      #1fad83

! white
*.color7:       #a6a28c
*.color15:      #fefbec


st.termname: st-256color
