[Desktop Entry]
Type=Application
Name=Image viewer
Exec=sxiv -a %f
Terminal=false
NoDisplay=true
MimeType=image/jpeg
MimeType=image/gif
MimeType=image/png

